@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family:"Arial Black", Gadget, sans-serif;
}

@theme {

    --color-primary: #0000FF;
    --color-primary-dull: #Ff0000;

}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

